:root {
    --selection-color: #0076d72a;
    --keyword-color: red;
}

.line {
    color: var(--text-color);
    position: absolute;
    padding-right: 20px;
}

.empty-selection-placeholder {
    display: inline-block;
    position: absolute;
    height: 19px;
    background-color: var(--selection-color);
    left: 0px;
}

.selection {
    background-color: var(--selection-color);
    color: transparent;
    position: absolute;
}

.keyword {
    color: var(--keyword-color);
}

.identifier {
    color: #5a2b66;
  }
  
  .keyword {
    color: red;
  }

  .string {
    color: green;
  }

  .const {
    color: blue;
  }

  .let {
    color: blue;
  }

  .number {
    color: rgb(101, 150, 131);
  }

  .import {
    color: red;
  }