:root {
    --selection-color: #94d0f8;
}

.line {
    color: black;
    position: absolute;
    padding-right: 20px;
}

.empty-selection-placeholder {
    display: inline-block;
    position: absolute;
    height: 19px;
    background-color: var(--selection-color);
    left: 0px;
}

.selected {
    background-color: var(--selection-color);
}