.pane-container {
    h2 {
        color: #202020;
        text-transform: uppercase;
        cursor: default;
        font-weight: 400;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 11px;
        margin-inline: 18px;
        margin-block: 10px;
        margin-bottom: 5px;
    }
}