.pane-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    width: 165px;
    min-height: 50px;
    background-color: var(--meteor-pane-background);
    margin-block: 4px;

    &.expanded {
        min-height: 49%;
    }

    .resize-handle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20px;
        cursor: ns-resize;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resize-input {
        width: 50px;
        text-align: center;
        border: none;
        background: transparent;
        font-size: 12px;
        outline: none;
    }
    
    .pane-title {
        display: flex;
        flex-direction: row;
        width: 95px;
        align-items: center;
        margin-inline: 8px;
        min-height: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;

        .buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-inline: 12px;
            margin-block: 4px;
            width: 100%;
            position: absolute;
            right: 0px;
        }
    }

    .pane-content {
        display: flex;
        overflow-y: auto;
        height: 100%;
        overflow-x: hidden;
        background-color: var(--meteor-pane-background);

        &::-webkit-scrollbar {
            cursor: default !important;
            background-color: transparent;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #2c2c2c;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
    
    h2 {
        color: var(--text-color-muted);
        text-transform: uppercase;
        cursor: default;
        font-weight: 400;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 11px;
        margin-left: 14px;
        margin-block: 10px;
    }
}