html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter" !important;
  font-variant-numeric: tabular-nums;
  overflow: hidden;
}

@font-face {
  font-family: "Hack";
  src: url("../assets/fonts/Hack-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/InterVariable.ttf");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../assets/fonts/UbuntuMono-Regular.ttf");
}
