.left-sidebar {
    display: flex;

    .pane-list {
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid transparent;
    }

    .new-column-area {
        width: 165px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed #ccc;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-left: 4px;
    }

    .drop-target {
        border: 2px dashed #00aaff;
        background-color: #f0f8ff33;
    }
}

.first-column {
    margin-left: 2px !important;
}