:root {
    --font-size: 14px;
    --font-family: "Droid Sans Mono", "monospace", monospace;
}

.astro-input {
    tab-size: 33.7188px;
    appearance: none;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: var(--font-size);
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 19px;
    letter-spacing: 0px;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    background-color: transparent;
    border: none;
    color: transparent;
    margin: 0;
    min-height: 0;
    min-width: 0;
    outline: none !important;
    overflow: hidden;
    padding: 0;
    position: absolute;
    resize: none;
    z-index: -10;
}

.astro-presentation {
    width: 100%;
    z-index: 200;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 50px;
    flex-grow: 1;
    white-space: pre;
    outline: none;
    min-height: fit-content;
    max-height: calc(100vh - var(--status-pane-height));
    caret-color: transparent;
    font-family: "Droid Sans Mono", "monospace", monospace;
    font-weight: normal;
    font-size: 14px;
    font-feature-settings: "liga" 0, "calt" 0;
    font-variation-settings: normal;
    line-height: 19px;
    letter-spacing: 0px;
    padding-bottom: 19px;
    cursor: text;
}

// TypeScript

.keyword {
    color: #0000ff;
}

.string {
    color: #a31515;
}

.comment {
    color: #008000;
}

.second-keyword {
    color: #7a2594;
}

.variable-keyword {
    color: rgb(54, 126, 126);
}

// HTML

.html-tag {
    color: blue;
}

.html-attribute, .html-literal {
    color: red;
}

.html-value {
    color: green;
}

.html-comment {
    color: green;
}

.html-special {
    color: rgb(73, 73, 73);
}

// CSS

.css-property {
    color: blue;
}

.css-value {
    color: green;
}

.css-selector {
    color: #af6006;
}

// JSON

.json-key {
    color: #11686e;
}

.json-string {
    color: #9b590d;
}

.json-number {
    color: #50b4c5;
}

.json-boolean {
    color: blue;
}