.scrollbar-thin {
    display: flex;
    width: 100%;
    z-index: 999;
    background: transparent;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
    transition: opacity 0.5s ease;
    opacity: 1;
    
    &.fade-out {
        opacity: 0;
    }

    .thumb {
        background: #888;
        height: 4px;
        top: -4px;
        width: 50px;
        position: absolute;

        &:hover {
            background: #555;
        }
    }
}

.scrollable-content {
    width: 100%;
    height: 30px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    overflow-x: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #9c9c9c;
}