#astro-wrapper {
    display: flex;
    height: calc(100vh - var(--status-pane-height));
    width: 100vw;
    overflow: hidden;

    #astro-wrapper-inner {
        overflow: hidden;

        #editor-wrapper-outer {
            overflow: hidden;
            position: relative;
            display: flex;
            height: calc(100% - 34px);

            #editor-wrapper-inner {
                overflow: auto;
                height: 100%;
                width: 100%;
                display: flex;
            }
        }
    }
    
    #wrapper-container {
        display: flex;
        flex-direction: column
    }
}