.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-block: 4px;
    width: 100%;

    .search-bar {
        width: 100%;
        display: flex;

        .search-input {
            margin-inline: 12px;
            width: 100%;
            background-color: var(--meteor-pane-background-light);
            border: 1px solid var(--meteor-border);
            border-radius: 2px;
            padding: 4px;
            color: var(--meteor-text);

            &:focus {
                outline: 1px solid var(--meteor-focus-bar);
            }
        }
    }

    .search-results {
        width: 100%;
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;

        &::-webkit-scrollbar {
            cursor: default !important;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #2c2c2c;
        }

        .search-result {
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            align-items: center;
            font-size: 13px;
            padding: 4px;
            padding-left: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-width: 0;

            &:hover {
                background-color: var(--meteor-pane-background-light);
            }
        }
    }
}