:root {
    --sidebar-inner-width: 200px;
}

.sidebar-inner {
    position: relative;
    width: 0px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #dfdfdf;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid white;
    z-index: 400;

    &.open {
        width: var(--sidebar-inner-width);
        min-width: var(--sidebar-inner-width);
    }
}