.line-numbers {
    flex-shrink: 0;
    width: 60px;
    padding-top: 5px;
    font-size: 14px;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    padding-bottom: var(--status-pane-height);
    z-index: 205;
    min-height: 100vh;
    background-color: white;
    transform: translate3d(0px, 0px, 0px);
    left: 0px;

    scrollbar, ::-webkit-scrollbar {
        display: none;
    }

    >* {
        min-height: 19px;
    }

    .line-number {
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 999;
        transform: translate3d(-35px, 6px, 0px);
        height: 19px;
    }
}