.line-numbers {
    flex-shrink: 0;
    width: 30px;
    position: relative;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 14px;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    overflow: hidden;
    padding-bottom: var(--status-pane-height);
    z-index: 99;
    background-color: white;

    scrollbar, ::-webkit-scrollbar {
        display: none;
    }

    >* {
        min-height: 19px;
    }
}