.editor-wrapper {
    display: flex;
    overflow: hidden;

    .editor {
        padding-top: 5px;
        padding-left: 5px;
        flex-grow: 1;
        overflow-x: auto;
        white-space: nowrap;
        outline: none;
    }
}