.line-numbers {
    flex-shrink: 0;
    width: 50px;
    background: var(--line-number-bg-color);
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    min-height: fit-content;
    padding-bottom: 93vh;

    >* {
        min-height: 20px;
    }
}