:root {
    --status-pane-height: 20px;
}

.status-pane {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: var(--status-bar-bg-color);
    height: var(--status-pane-height);
}