:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --status-bar-bg-color: #d3d3d3;
    --status-bar-text-color: #666666;
    --line-number-bg-color: #eeeeee;
    --line-number-text-color: #999999;
    --editor-bg-color: #fdfdfd;
    --editor-text-color: #444444;
    --highlight-color: #ffff00;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}